@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
} 

body {
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    margin:auto;
    width: 1024px;
}

.img-graficos{
    display: flex;
    align-items: flex-end;
    
    flex-wrap: nowrap;
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    height: 365px;
}

.trazado1{
    box-sizing: border-box;
    
    position: absolute;
    width: 385px;
    height: 151.16px;
    background: #222222df;
    border-radius: 0px 70px 70px 0px;
    padding: 20px 0px 20px 40px;
}

.text_1{

    font-weight: 700;
    font-size: 25.188px;
    line-height: 30px;
    color: #00A99D;
}
.text_1a{
    color: #222222;
}
.text_2{

    font-weight: 700;
    font-size: 37.262px;
    line-height: 45px;
    /* identical to box height */
    color: #FFFFFF;
}
.text_3{

    font-weight: 400;
    font-size: 22.026px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;

}
.info2{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 200px;
    background: #F1F2F2;
}
.nombc, .facultad, .creditos{
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    width: 300px;
    color: #222222;

    
}
.facultad{
    border-style: none dotted none dotted;
    border-color: #222222;
}
.info3{
    filter: drop-shadow(5.09px 1.697px 8.482px rgba(1, 0, 1, 0.349));
    
    background: #FFFFFF;
    
}
.info3 h2{
    font-weight: 700;
    font-size: 45.678px;
    line-height: 55px;
    color: #222222;
}
.esconder1, .esconder2, .esconder3, .esconder4, .esconder5{
    margin-top: 40px;
    padding: 50px;
    padding-left: 50px;
}
.esconder1 ,
.esconder2 ,
.esconder3 ,
.esconder4 ,
.esconder5{
    display: none;
}

.mostrar1, .mostrar2, .mostrar3, .mostrar4, .mostrar5{
    margin-top: 40px;
    padding: 50px;
    padding-left: 50px;
    display: value; 
}


.info3{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    color: #222222;
}
.botones{
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: #FFF;
    filter: drop-shadow(5.09px 1.697px 8.482px rgba(1, 0, 1, 0.349));

}

.boton1, .boton2, .boton3, .boton4, .boton5{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100px;
    width: 150px;
    color: #222222;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}
.boton1:hover, .boton2:hover, .boton3:hover, .boton4:hover, .boton5:hover{
    color:#00A99D;
    cursor: pointer;
}

.boton1 img:hover{

    cursor: pointer;
}
.espacio{
    margin: 50px;
}
.info4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    filter: drop-shadow(2.394px 0.798px 3.99px rgba(1, 0, 1, 0.349));
    background: #00A99D;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    color: #FFFFFF;
}
.info4 img{
    margin-right: 20px;
}

